body {
	background: url("https://static.pexels.com/photos/235985/pexels-photo-235985.jpeg");
	font-family: helvetica;
}

h1, p {
	color: white;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  margin: 3em;
}

#slogan {
	text-transform: uppercase;
	text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}